<section>
	<h1>Your Resources</h1>
	<h2>My Application Statuses</h2>
	{{! <p> }}
	<h3>Pending:</h3>
	{{#each pending}}
		<p><a href="/dogs/{{_id}}">{{name}}</a></p>
	{{/each}}
	<br />
	<h3>Accepted:</h3>
	{{#each accepted}}
		{{!-- <p><a href="/dogs/{{_id}}">{{name}}</a></p> --}}
		<p>{{this}}</p>
	{{/each}}
	<br />
	<h3>Rejected:</h3>
	{{#each rejected}}
		{{!-- <p><a href="/dogs/{{_id}}">{{name}}</a></p> --}}
		<p>{{this}}</p>
	{{/each}}
	{{! </p> }}

	<h2>Links & Forms</h2>
	<a href="/account/settings/get">Click here to see your settings!</a>
	<br />
	<a href="/account/quiz">Click here to access our quiz!</a>
	<br />
	<a href="/account/dogs">Click here to see the dogs you posted!</a>
	<br />
	<a href="/account/application">Click here to access your application!</a>
	<br />
	<a href="/account/specificDogs/liked">Click here to see the dogs you liked!</a>
	<br />
	<a href="/account/specificDogs/ignored">Click here to see the dogs you
		ignored!</a>
	<br />

</section>