<article class="dog">
	<h1>{{dog.name}}</h1>

	<address>Owner: {{user.firstName}} {{user.lastName}}</address>

	{{#each dog.pictures}}
		<img src="{{url}}" />
	{{/each}}

	<h3>Sex:</h3>
	<p>{{dog.sex}}</p>

	<h3>Color:</h3>
	<ul>
		{{#each dog.color}}
			<li>{{this}}</li>
		{{/each}}
	</ul>

	<h3>Breeds:</h3>
	<ul>
		{{#each dog.breeds}}
			<li>{{this}}</li>
		{{/each}}
	</ul>

	<h3>Weight:</h3>
	<p>{{dog.weight}}</p>

	<h3>Description:</h3>
	<p>{{dog.description}}</p>

	{{#if dog.traits.length}}
		<h3>Traits:</h3>
		<ul>
			{{#each dog.traits}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if dog.medicalInfo.length}}
		<h3>Medical Info:</h3>
		<ul>
			{{#each dog.medicalInfo}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if dog.vaccines.length}}
		<h3>Vaccines:</h3>
		<ul>
			{{#each dog.vaccines}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	{{/if}}

	<h3>Likes:</h3>
	<p>{{dog.likes}}</p>	

	<h3>Comments:</h3>
		{{#each dog.comment}}
			<p>{{this}}</p>
		{{/each}}
	<form id="comment-form" method="post">
		<label for="commentInput" id="comment">Post a comment here!</label>
		<p id="popup" class="error" hidden>A comment cannot be empty!</p>
		<input id="commentInput" type="text" name = "commentInput"> <br>
		<button type="submit">Submit</button>
	</form>

	{{#if signedIn}}
		<form id="ignore-form" method="post" action="/dogs/{{dog._id}}">
			<input id="dogId" value={{dog._id}} name="dogId" hidden />
			<!--<input id="userId" value={{user._id}} name="userId" hidden /> -->
			<button id="ignorebutton" type="submit">Ignore Dog</button>
		</form>
	{{/if}}
</article>